.fs-m {
    font-size: 1.2rem;
}

.mtop-5 {
    margin-top: 3rem !important;
}

.postcode-container .form-control {
    border: 1px solid #000;
}

.feedbackFormTextBox {
    border: 3px solid #000045 !important;
}

.postcode-container .form-select {
    border: 3px solid #000045;
}

    .postcode-container .form-control:focus,
    .postcode-container .form-select:focus,
    .postcode-container .form-check-input:focus {
        border: 3px solid var(--color-default);
    }

    .postcode-container .form-select option {
        width: 100%;
    }

.white-bg {
    background-color: var(--color-white);
    color: var(--color-default);
}

input::-webkit-date-and-time-value {
    text-align: left;
}

@media (min-width: 991px) {
    .without-search .col-md-6 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.postcode-container {
    font-size: 1rem;
}

.postcode-container-left {
    padding: 30px;
    padding-left: 45px;
    padding-right: 15px;
}

@media (max-width: 1024px) {
    .postcode-container-left {
        padding: 15px 10px 50px 10px;
    }

    .postcode-container-right {
        padding: 20px 10px;
    }
}

.postcode-container-right {
    padding-top: 4px;
    /*padding-bottom: 50px;*/
    padding-inline: 0.5rem;
}

.postcode-container-left table .green-bg {
    background-color: var(--color-green);
}

.postcode-container-left table .yellow-bg {
    background-color: var(--color-yellow);
}

.postcode-container-left table .orange-bg {
    background-color: var(--color-secondary);
}

.postcode-container-left .location-text {
    border: 1px solid var(--color-default);
}

.postcode-container-left table .green-text {
    color: var(--color-green);
    font-weight: 700;
    font-size: 16px;
}

.postcode-container table .blue-text {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
}

.postcode-container table .lightblue-text {
    color: #b692fe;
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
}

.postcode-container table .darkgreen-text {
    color: #00743e;
    font-weight: 700;
    font-size: 16px;
    vertical-align: middle;
}

.container-radio .checkmark {
    border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-radio input:checked ~ .checkmark {
    background-color: var(--color-white);
}

.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 50%;
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 18px;
    height: 18px;
    background: var(--color-default);
}

.collapse-left {
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 0;
    background-color: var(--color-light-gray);
    border: none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.collapse-left-og {
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.collapse-left:hover,
.collapse-left:focus,
.collapse-left:active {
    background-color: var(--color-light-gray) !important;
    border: none;
}

.collapse-left:focus-visible {
    background-color: var(--color-secondary) !important;
    border: none;
}

.collapse-left i {
    color: var(--color-default);
}

.postcode-left-outer {
    transition: width 0.3s ease;
}

    .postcode-left-outer.collapsed {
        width: 50px;
        transition: width 0.3s ease;
    }

.postcode-right-outer.expend {
    width: calc(100% - 50px);
    transition: width 0.3s ease;
}

@media (min-width: 768px) {
    .modal-popup-width-50 {
        max-width: 50% !important;
    }
}

.modal-popup-width-45 {
    max-width: 45%;
}

@media (max-width: 1024px) {
    .modal-popup-width-45 {
        max-width: 100%;
        margin-right: 3% !important;
    }
}

.accordion-box {
    border: 3px solid #000045 !important;
    background-color: white;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0 !important;
    padding: 2px 5px;
}

    .accordion-box .accordion-button:focus-visible {
        outline: 3px solid var(--color-outline-focus) !important;
        outline-offset: 0;
    }

.accordion-container {
    background-color: #000045;
    color: white;
    padding: 5px;
    border-bottom: 1px solid black;
    margin: 0;
}

.mobile-checker-container .accordion-button {
    cursor: pointer;
    position: relative;
    padding: 3px 10px 3px 10px;
    background-color: white;
    color: #000045;
    border: none;
    box-shadow: none;
    line-height: 24px;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: var(--font-family-default) !important;
}

    .mobile-checker-container .accordion-button .arrow {
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
    }

.postcode-container .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}

.btn-link {
    text-decoration: none !important;
}

    .btn-link:hover {
        text-decoration: none !important;
    }

.popover-icon {
    font-size: 24px;
    vertical-align: middle;
    /*margin-left: 5px;*/
}

    .popover-icon:focus-visible {
        outline: 3px solid var(--color-outline-focus) !important;
        outline-offset: 0;
    }

.custom-popover-width {
    max-width: 100%;
}

/* accordion-new-design*/

.item-list li {
    list-style: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

    .item-list li:hover,
    .item-list li.active {
        background-color: var(--color-light-gray);
        color: var(--color-black);
    }

    .item-list li a {
        color: var(--color-default);
        text-decoration: none;
        display: inline-block;
    }

        .item-list li a:hover {
            text-decoration: underline;
        }

.w-60 {
    width: 60% !important;
}

.w-35 {
    width: 35% !important;
}

.ok-btn-width {
    width: 100px !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fs-2rem {
    font-size: 2rem !important;
}

.px-5rem {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.m-btm-10px {
    margin-bottom: 10px !important;
}

.return-btn a {
    text-decoration: none;
    color: var(--color-default);
    font-weight: bold;
}

.search-container .search-postcode {
    border-right: none;
    height: 58px;
}

.search-container .input-group-text {
    border-right: none;
    border: 3px solid var(--color-default);
    border-radius: 0;
    margin-left: -4px !important;
    background-color: transparent;
}

    .search-container .input-group-text:hover {
        background-color: var(--color-default);
        color: var(--color-white);
    }

    .search-container .input-group-text:focus-visible {
        outline: none;
        background-color: var(--color-secondary);
    }

.location-pin {
    height: 36px;
    width: auto;
}

.bold-link {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-default);
}

.modal-dialog-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100% - 1rem);
    margin: 0;
    margin-left: 3%;
}

.border-color-default {
    border-color: var(--color-default);
    border: 3px solid var(--color-default);
}

.search-postcode {
    height: 60px;
    font-size: 2rem;
}

/* popover related css */
.custom-popover {
    font-size: 14px;
    color: var(--color-default) !important;
    /* padding: 25px; */
}

.popover {
    border-color: var(--color-default);
    border: 3px solid var(--color-default);
    max-width: 30% !important;
}


.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .btn-container {
        display: grid;
        grid-row-gap: 30px;
    }
}

.btn-container button {
    flex: 0 0 40%;
}

.empty-space {
    flex: 0 0 10%;
}

.popover-icon-color {
    border-color: var(--color-maroon);
}

.custom-tab-content .accordion-item {
    border: 3px solid #000045;
}

.mobile-checker-container .accordion-item:not(:first-child) {
    border-top: 3px solid #000045;
}

/*********result-page*************/
.empty-space-result-page {
    flex: 0 0 10% !important;
}

/* chart css */
.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    width: 335px;
    margin: auto;
    text-align: center;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #d0c9c9cf;
    padding: 20px;
}

.chart-icon {
    width: auto;
    height: 32px;
    margin-bottom: 10px;
}

.donut-chart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: conic-gradient(gray 0deg 36deg, white 36deg 38deg);
}

    .donut-chart::before {
        content: "";
        width: 80px;
        height: 80px;
        background: white;
        border-radius: 50%;
        position: absolute;
    }

@media (max-width: 768px) {
    /*#map-tab {
        margin-bottom: 0;
    }

    .custom-nav-tabs:has(#map-tab.active) #map-tab {
        margin-bottom: 10px !important;
    }*/

    .mobile-checker-container .accordion-button {
        font-size: 16px !important;
    }

    .accordion-provider-btn {
        max-width: 330px !important;
        padding-left: unset !important;
        padding-right: unset !important;
        margin-right: unset !important;
    }

    .max-w-380 {
        max-width: 330px !important;
    }

    .chart-container {
        width: 295px;
    }

    .donut-chart {
        width: 80px;
        height: 80px;
    }

        .donut-chart::before {
            width: 60px;
            height: 60px;
        }
}

.percent-text {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: black;
    z-index: 1;
}

.border-top-left {
    border-top-left-radius: 20px;
}

.border-top-right {
    border-top-right-radius: 20px;
}

.border-btm-left {
    border-bottom-left-radius: 20px;
}

.border-btm-right {
    border-bottom-right-radius: 20px;
}

/*********map*******/
.dropdown-box {
    display: flex;
    align-items: center;
    border: 3px solid #000045;
    width: 100%;
    background: white;
    cursor: pointer;
}

    .dropdown-box input:focus-visible {
        box-shadow: none;
        outline: none;
    }

.color-box {
    padding: 10px;
    background: rgb(7, 180, 215);
    border-radius: 2px;
    margin-right: 8px;
    /*margin-left: 8px;*/
    margin-bottom: 2px !important;
}

.dropdown-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
}

.add-btn {
    color: rgb(21, 3, 3);
    border: none;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.box-container {
    display: flex;
    align-items: flex-start;
}

    .box-container span {
        line-height: 1;
        font-size: 12px;
        color: #333;
    }

.bg-skyBlue {
    background-color: rgb(7, 180, 215) !important;
}

.bg-navyBlue {
    background-color: var(--color-anchor)
}

.bg-magenta {
    background-color: #8F0057 !important;
}

.bg-green {
    background-color: #36C280 !important;
}

.bg-pink {
    background-color: #C400ED !important;
}

.bg-grey {
    background-color: #ccc !important;
}

.color-magenta {
    color: #8F0057 !important;
}

/**** WebChecker - Result Page - accordion-address-tab-button ***/


.accordion-address-tab-button {
    width: 100%;
    outline: none;
    box-shadow: none !important;
    border: none !important;
    justify-content: space-between;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-align: left;
}

    .accordion-address-tab-button::after {
        display: none !important;
    }

    .accordion-address-tab-button .icon {
        font-size: 18px;
        transition: transform 0.3s;
        padding-inline: 10px;
    }

    .accordion-address-tab-button.collapsed .icon::before {
        content: "\2b";
        font-family: FontAwesome;
    }

    .accordion-address-tab-button:not(.collapsed) .icon::before {
        content: "\f068";
        font-family: FontAwesome;
    }

.network-check table {
    width: 100%;
}

.network-check td {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

@media (max-width: 1024px) {
    .network-check td {
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }
}

/* Ensure fixed width for the third column */
/* .network-check td:nth-child(3) {
    width: 33.33% !important;
    max-width: 33.33% !important;
    min-width: 33.33% !important;
} */

.network-check {
    width: 100%;
    table-layout: fixed;
}

    .network-check td {
        word-wrap: break-word;
        /* min-width: 50px; */
    }

        .network-check td:nth-child(1) {
            width: 15% !important;
        }

        .network-check td:nth-child(2) {
            width: 7% !important;
        }

        .network-check td:nth-child(3) {
            width: 78% !important;
        }

    .network-check td {
        border: 3px solid var(--color-default);
    }

/* Ensure 3-column layout on all devices */
@media (max-width: 992px) {
    .network-check td {
        display: table-cell;
        /* width: 33.33%; */
        text-align: center;
    }
}

@media (max-width: 768px) {
    .network-check td {
        display: table-cell;
        /* width: 33.33%; */
        text-align: center;
    }
}

@media (max-width: 576px) {
    .network-check .container {
        padding: 10px;
    }

    .network-check .table {
        font-size: 12px;
    }

    .accordion-address-tab-button {
        font-size: 12px;
        line-height: 1.5;
    }

    .network-check td {
        display: table-cell;
        /* width: 33.33%; */
        text-align: center;
    }
}

.chart-icon-address {
    width: auto;
    height: 32px;
}

@media (max-width: 768px) {
    .chart-icon-address {
        width: auto;
        height: auto;
        max-height: 32px;
    }
}

.chart-icon-postal {
    width: auto;
}


.table-bordered {
    border: 3px solid var(--color-default);
}

.custom-nav-tabs {
    border-bottom: none;
}

    .custom-nav-tabs .nav-item:nth-child(2) {
        background-color: #fff;
    }

        .custom-nav-tabs .nav-item:nth-child(2) .nav-link {
            margin-inline: 3px;
        }


.custom-tab-content .tab-pane {
    background-color: var(--color-white);
    padding: 10px;
    padding-top: 0px !important;
}

.custom-nav-tabs .nav-link {
    padding: 5px 40px;
    border-radius: 0;
    border: none;
    color: var(--color-default);
    background-color: #d3d3d3;
    margin-bottom: 0px;
    font-family: var(--font-family-default) !important;
    font-weight: 700;
    font-style: Bold !important;
    font-size: 24px;
}

    .custom-nav-tabs .nav-link:hover {
        color: var(--color-default);
    }

    .custom-nav-tabs .nav-link.active {
        color: var(--color-default);
        background-color: var(--color-white);
        border-color: var(--bs-nav-tabs-link-active-border-color);
        border-bottom: 5px solid var(--color-default);
    }

    .custom-nav-tabs .nav-link:focus-visible {
        outline: 3px solid var(--color-outline-focus);
        outline-offset: 0;
    }

@media (max-width: 768px) {
    .custom-nav-tabs .nav-link {
        padding: 5px 10px !important;
        font-size: 20px !important;
    }

    .custom-nav-tabs .nav-item, .custom-nav-tabs .nav-link {
        flex: 1 1 auto;
        text-align: center;
    }
}

@media (max-width: 567px) {
    .custom-nav-tabs .nav-link {
        padding: 5px 10px;
    }
}

@media screen and (min-width: 359px) and (max-width: 391px) {
    .custom-nav-tabs .nav-link {
        padding: 5px 5px !important;
        font-size: 18px !important;
    }

    .search-postcode {
        height: 40px !important;
        font-size: 13px !important;
    }
}

.row.col-12.mt-5 {
    margin-left: 5px;
}

/* Table 2 Styling */
.table-postal-district td:nth-child(1) {
    width: 48% !important;
    padding: 5px;
}

.table-postal-district td:nth-child(2) {
    width: 13% !important;
}

.table-postal-district td:nth-child(3) {
    width: 13% !important;
}

.table-postal-district td:nth-child(4) {
    width: 13% !important;
}

.table-postal-district td:nth-child(5) {
    width: 13% !important;
}

.table-postal-district th {
    border: none;
    background-color: #fff;
    /* Optional: Background color for distinction */
}

.table-postal-district {
    border-right: none;
    border-left: none;
    border-top: none;
}

    .table-postal-district > :not(caption) > * {
        border-width: 0px;
    }


.table-postal-district-row td {
    border-left: 0px solid var(--color-default) !important;
    border-right: 0px solid var(--color-default) !important;
}

    .table-postal-district-row td:nth-child(2) {
        /* border-left: 3px  solid var(--color-light-gray) !important; */
        border-right: 3px solid var(--color-light-gray) !important;
    }

    .table-postal-district-row td:nth-child(3) {
        border-left: 3px solid var(--color-light-gray) !important;
        border-right: 3px solid var(--color-light-gray) !important;
    }

    .table-postal-district-row td:nth-child(4) {
        border-left: 3px solid var(--color-light-gray) !important;
        border-right: 3px solid var(--color-light-gray) !important;
    }

.table-postal-district-row .accordion-body,
.accordion-item-address-tab .accordion-body {
    text-align: left;
    padding-top: 0px;
    padding-left: 10px;
}

.postal-tab-arrow.collapsed .icon::before {
    font-family: FontAwesome;
    content: '\2b';
    font-size: 18px;
}

.postal-tab-arrow:not(.collapsed) .icon::before {
    font-family: FontAwesome;
    content: '\f068';
    font-size: 18px;
}

.p-1px {
    padding: 1px !important;
}

.p-2px {
    padding: 2px !important;
}

.p-3px {
    padding: 3px !important;
}

.postcode-container .accordion-button::after {
    background-image: none !important;
    content: '+';
    font-size: 30px;
    color: #000045;
    transition: transform 0.3s;
    /*font-weight: 400;*/
    line-height: 0.7;
}

.postcode-container .accordion-button:not(.collapsed)::after {
    content: '';
    content: '−';
    font-size: 40px;
}


.more-info-acco-outer .accordion-item {
    /* border: 3px solid var(--color-default); */
    border-radius: 0px !important;
    overflow: hidden;
}

    .more-info-acco-outer .accordion-item:not(:first-child) {
        border-top: 1px solid #ddd;
    }


.more-info-acco-outer .more-info-accordion::after {
    background-image: none !important;
    font-family: FontAwesome;
    content: '\f078' !important;
    font-size: 20px;
    color: #333;
    transition: transform 0.3s;
}

.more-info-acco-outer .more-info-accordion:not(.collapsed)::after {
    content: '';
    font-family: FontAwesome;
    content: '\f077';
    font-size: 20px;
}

.more-info-acco-outer .accordion-body {
    padding: 0;
}

.more-info-acco-outer .accordion-header {
    border: 3px solid var(--color-default);
}

.more-info-acco-outer .accordion-collapse {
    border: 3px solid var(--color-default);
    border-top: none;
}

.more-info-acco-outer .accordion-header .accordion-button {
    font-weight: 700;
    padding: 10px 15px;
}

.more-info-acco-outer .accordion-button:not(.collapsed) {
    color: var(--color-black);
    background-color: var(--color-white);
}

.more-info-acco-outer .accordion-button:focus-visible {
    outline: 3px solid var(--color-outline-focus) !important;
    outline-offset: 0;
}

@media (max-width: 768px) {
    .pr-mobile-1rm {
        padding-right: 1rem;
    }

    .pr-mobile-2rm {
        padding-right: 2rem;
    }

    .pl-mobile-0 {
        padding-left: 0;
    }

    .full-width-mobile {
        width: 90%;
        margin-left: 0;
    }

    #feedback-form-btn {
        flex-direction: column;
        gap: 10px;
    }

        #feedback-form-btn a {
            width: 100%;
            text-align: center;
        }

    .popover {
        max-width: 60% !important;
    }

    .location-pin {
        height: 20px;
        width: auto;
    }

    .bold-link {
        font-weight: 700;
        font-size: 1rem;
        color: var(--color-default);
    }

    .width-md-100 {
        width: 100%;
    }

    .btn-container.mb-5 {
        justify-content: space-around;
    }

    div#feedback-form-btn {
        justify-content: space-around;
    }

    /* .accordion-address-tab-button .icon {
        margin-left: 23%;
    } */
}

.post-d-img {
    height: 24px;
    width: auto;
    margin-right: 10px;
}

.district-level,
.address-level {
    display: none;
}

.modal-notification .modal-content {
    padding: 0px;
}

.iframe-wrapper {
    position: relative;
}

    .iframe-wrapper .iframe-overlay {
        margin-top: 20px;
        position: relative;
        z-index: 999;
    }

.expend .iframe-wrapper .iframe-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 60%;
}

@media (max-width: 768px) {
    .expend .iframe-wrapper .iframe-overlay {
        width: 90%;
    }
}

.iframe-wrapper iframe img {
    width: 100% !important;
    object-fit: cover;
}

.mobile-checker-container .col-form-label {
    font-weight: 400;
    font-size: 20px;
}

.patch-container {
    position: relative;
    height: 50px;
    z-index: 999;
}

    .patch-container .accordion {
        position: absolute;
        width: 100%;
    }

.coverage-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .coverage-btn-container {
        justify-content: center;
    }
}

.scrollable-content {
    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: none;
}

    .scrollable-content.active {
        display: block;
    }

    .scrollable-content:focus-visible {
        outline: 3px solid var(--color-outline-focus);
        outline-offset: 5;
    }

.postcode-container-left .EPiServerForms .Form__MainBody {
    margin-left: -4px !important;
}

.postcode-container-left .EPiServerForms .Form__Description {
    padding-left: 0px !important;
}

.accordion-address-tab-button:focus-visible .icon,
.accordion-address-tab-button:active .icon {
    outline: 3px solid var(--color-outline-focus);
    outline-offset: 0;
}

.iframe-wrapper .map-container {
    height: 529px;
}

@media (max-width: 992px) {
    .iframe-wrapper .map-container {
        height: 700px;
    }
}

@media (max-width: 768px) {
    .iframe-wrapper .map-container {
        height: 600px;
    }
}

.accordion-box .accordion-button:focus-visible {
    outline: 3px solid var(--color-outline-focus) !important;
    outline-offset: 0;
}

.EPiServerFormsFeedback {
    background-color: var(--color-light-gray);
    color: var(--color-default);
    margin-bottom: 3rem !important;
}

.hiddenMapIFrame {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

span.plus-minus-icon {
    font-size: 28px;
}

.h4-class {
    font-size: 1.188rem;
    line-height: 145%;
    font-weight: 400;
    word-wrap: break-word;
    letter-spacing: -0.19px;
}

.mobile-checker-container .accordion-address-tab-button {
    color: var(--color-default) !important;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

    .mobile-checker-container .accordion-address-tab-button:hover,
    .mobile-checker-container .accordion-address-tab-button:focus,
    .mobile-checker-container .accordion-address-tab-button:active {
        color: var(--color-default) !important;
        outline: none;
        box-shadow: none;
    }

@media (max-width: 768px) {
    .mt-3-max {
        margin-top: 1rem !important;
    }

    .mt-3px {
        margin-top: 3px !important;
    }

    .mt-n10px {
        margin-top: -10px !important;
    }

    .mt-ps-code {
        margin-top: 8px !important;
    }

    .details-box-padding {
        margin-top: 2rem !important;
    }

    /* Default: tabs stretch evenly */
    .mobile-checker-container .custom-nav-tabs .nav-item {
        flex: 0 0 auto !important;
        text-align: center;
    }

    .EPiServerFormsFeedback {
        margin-top: 2rem !important;
    }
}

#postcode .form-control {
    color: #4f4f4f !important;
}

#coverage .form-select {
    color: #4f4f4f !important;
    --bs-form-select-bg-img: none !important;
}

.acordion-content-styling {
    position: absolute;
    /*bottom: 100%;*/
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 8px;
    /*padding-top: 1rem;*/
    padding-right: 1rem;
    padding-left: 1rem;
}

.accordion-upward {
    bottom: 100%;
}

.accordion-downward {
    top: 100%;
}

.breadcrumb-title {
    display: block;
    background-color: var(--color-default);
    width: 100%;
    padding: 5px 1px 5px 5px;
}

/* Load More Button feature realted css - start */

.item-list li {
    display: none;
}

    .item-list li.visible {
        display: list-item;
    }

.load-more-btn {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

    .load-more-btn:hover {
        background: #0056b3;
    }

.accordion-body {
    position: relative; /* allows absolute positioning inside */
}

.toggle-btn {
    /* position: absolute; */
    bottom: 0px;
    right: 5px;
    background: var(--color-default);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.item-list {
    padding-bottom: 40px; /* space for button */
}

.button-wrapper {
    display: flex;
    justify-content: flex-end; /* move button to right */
    margin-right: 10px;
    margin-bottom: 5px;
}

.item-list {
    max-height: none !important;
    overflow-y: visible !important;
}

.item-list {
    margin-right: 4px;
}

.toggle-link {
    color: var(--color-default);
    text-decoration: underline;
    cursor: pointer;
}

    .toggle-link:hover {
        text-decoration: none;
    }

ul.item-list.p-0 {
    margin-bottom: 0px;
}

.location-cross {
    margin-left: 12px !important;
    font-size: 35px;
    width: 58px;
    height: 58px;
    border: 3px solid #d0c9c9cf !important;
}

.collapse-left-override {
    position: absolute;
    right: -40px !important;
    top: 0 !important;
    left: auto !important;
    /*margin-left: -5% !important;*/
    border-radius: 10 !important;
    background-color: #d4d4d440 !important;
    border: none !important;
    z-index: 1;
}

.mt-title {
    margin-top: 12px !important;
    padding-left: 20px;
    padding-right: 10px;
}

@media (max-width: 768px) {

    h2.mb-0.pdng-left-btm {
        margin-bottom: 0px !important;
        margin-top: 15px !important;
    }

    .mt-title {
        margin-top: 10px !important;
    }

    .search-container.input-group.mb-3 {
        margin-top: 25px !important;
    }

    .location-cross {
        margin-left: 0.5rem !important;
        font-size: 25px;
        width: 40px;
        height: 40px;
        border: 3px solid #d0c9c9cf !important;
    }

    .fs-15px {
        font-size: 15px !important;
    }

    .search-postcode {
        height: 40px !important;
        font-size: 15px;
    }

    .input-group-text {
        height: 40px !important;
        font-size: 15px;
    }

    .postcode-container-right {
        padding: 0px 10px;
    }

    .pdng-left-btm {
        padding-left: 15px;
        /*padding-bottom: 15px;*/
    }

    /* Expanded iframe */
    .expanded iframe {
        height: 800px !important;
    }

    #iframe-height-toggle {
        width: 40px;
        padding-left: 7px;
        padding-top: 5px;
        line-height: 35px;
        height: 40px;
        /*border: 1px solid var(--color-black);*/
        background-color: #b49d9d42;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;
        user-select: none;
        border-radius: 0 0 50% 50%;
    }
}
/*******Mobile - Iframe Height Adjustment - End *********/

.color-black {
    color: var(--color-black) !important;
}

.mobile-checker-container .gray-bg {
    background-color: rgba(212, 212, 212, 0.25) !important;
    color: var(--color-default);
}

@media screen and (min-width: 1024px) {
    .mt-n10px-lg {
        margin-top: -10px !important;
    }

    .ms-2rem {
        margin-left: 2.2rem !important;
    }

    .pdng-right-0 {
        padding-right: 0 !important;
    }

    /*h2.mb-0.pdng-left-btm {
        margin-bottom: -10px !important;
    }*/
    h2.mb-0.pdng-left-btm {
        margin-bottom: 0px !important;
        margin-top: 10px;
        margin-left: -7px;
    }

    .postcode-container-right {
        padding-top: 26px;
        /*padding-bottom: 50px;*/
        padding-inline: 0.5rem;
        padding-left: 20px;
        margin-left: -10px;
        padding-right: 20px;
    }

    /*.search-container.input-group.mb-3 {
        margin-left: 30px;
    }*/
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-260 {
    max-width: 260px;
}

.wc-box-border {
    border: 1px solid #000 !important;
    color: #d3d3d3 !important;
    height: 58px;
}

    .wc-box-border:hover {
        background-color: transparent !important;
    }

.mt-35 {
    margin-top: 35%;
}

.max-w-325 {
    max-width: 325px;
}

.max-w-340 {
    max-width: 340px;
}

.max-w-370 {
    max-width: 370px;
}

.max-w-380 {
    max-width: 380px;
}

i.fa-solid.fa-location-crosshairs {
    cursor: pointer !important;
    color: var(--color-default);
}

.faq-back-btn-click {
    margin-top: 20px !important;
    margin-left: 30px;
}

#usecurrentlocation:focus-visible {
    outline: 3px solid var(--color-outline-focus);
    outline-offset: 0;
}

.mt-ps-code {
    padding-right: 10px;
    margin-top: 12px;
}

.max-w-300 {
    max-width: 300px;
}

div#landing-page-image-block {
    padding-right: 20px;
    padding-left: 30px;
}

div#lblPostcode {
    padding-left: 10px;
}

div#donut-chart {
    margin-top: 1.2rem !important;
}

.gray-bg-dark {
    background-color: #E8E8E8 !important;
    color: var(--color-default);
}

    .gray-bg-dark:hover,
    .gray-bg-dark:focus,
    .gray-bg-dark:active {
        background-color: #E8E8E8 !important;
        color: var(--color-default);
    }

.form-control-coverage-level {
    border-radius: 0;
    line-height: 2;
    height: 34px;
    border: 3px solid var(--color-default);
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.postcode-container-right .form-select {
    height: 34px;
    line-height: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
}

.accordion-coverage {
    padding-bottom: 0px !important;
    line-height: 0.5 !important;
}

.accordion-provider-btn {
    max-width: 460px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 22px;
    /*margin-bottom: 18px;*/
}

.btn-feedback {
    height: 34px !important;
    line-height: 0.75 !important;
}

.btn-faq {
    height: 39px;
    line-height: 1;
    margin-top: 1.8rem;
}

.fixed-btn {
    position: sticky;
}

.btn-txt {
    font-size: 18px !important;
    /* font-weight: 700; */
}

#map-tab {
    margin-bottom: 10px;
}

#address-tab,
#postal-district-tab {
    margin-bottom: -2px;
}

.custom-nav-tabs:has(#address-tab.active)
#map-tab {
    margin-bottom: 0 !important;
}

.custom-nav-tabs:has(#postal-district-tab.active) #map-tab {
    margin-bottom: 0 !important;
}

html[lang="cy"] .mobile-checker-container .accordion-button,
html[lang="cy"] .postcode-container-right .form-select {
    font-size: 14px !important;
}

html[lang="en"] .mobile-checker-container .accordion-button,
html[lang="en"] .postcode-container-right .form-select {
    font-size: 15px !important;
}

html[lang="cy"] .faq-container .accordion-button{
    font-size: 16px !important;
    font-weight:700 !important;
}

html[lang="en"] .faq-container .accordion-button {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.key-more-info {
    flex: 0 0 auto;
    width: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 5px;
}

@media (max-width: 992px) {
    .key-more-info {
        flex: 0 0 auto;
    }
}

@media (max-width: 767px) {

    .order-mbl-1 {
        order: 1 !important;
    }

    .order-mbl-2 {
        order: 2 !important;
    }

    .key-more-info {
        flex: 0 0 auto;
        width: 100% !important;
        margin-right: 0px;
        margin-bottom: 10px !important;
        padding-right: 5px;
        margin-left: 8px;
    }

    .collapse-left {
        left: 1.2rem !important;
    }
}

/*iPad Air portrait (820 × 1180) */
@media only screen and (width: 820px) and (height: 1180px) and (orientation: portrait) {
    .accordion-provider-btn {
        max-width: 425px !important;
    }

    div#lblPostcode {
        margin-top: 10px !important;
    }
}

@media (max-width: 1200px) and (min-width: 790px) and (max-height: 1366px) and (min-height: 768px) {
    .mt-3-max {
        margin-top: 1rem !important;
    }
}

/*iPad Mini landscape (1024 × 768) */
@media only screen and (width: 1024px) and (height: 768px) and (orientation: landscape) {
    .accordion-provider-btn {
        max-width: 300px !important;
    }

    .btn-container {
        display: flex !important;
    }

    .feedback-accordion-btn {
        margin: auto !important;
        width: 280px !important;
    }

    .key-more-info {
        flex: 0 0 auto;
        width: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        font-size: 14px;
    }
}

/* Hide #collapseButton for devices around 820x1180 and 768x1024 */
@media (min-width: 768px) and (max-width: 830px) and (min-height: 1024px) and (max-height: 1180px) {

    #pContainter-top #collapseButton {
        display: none !important;
    }
}

/*Ipad mini portarit*/
@media only screen and (height: 1024px) and (width: 768px) and (orientation: portrait) {

    .feedback-accordion-btn {
        margin: auto !important;
        width: 280px !important;
    }

    html[lang="cy"] .faq-container .accordion-button {
        font-size: 14px !important;
        font-weight: 700 !important;
    }

    html[lang="en"] .faq-container .accordion-button {
        font-size: 14px !important;
        font-weight: 700 !important;
    }

    .postcode-container-right {
        padding-top:26px;
    }
}

/*Ipad pro portarit*/
@media only screen and (height: 1366px) and (width: 1024px) and (orientation: portrait) {

    .accordion-provider-btn {
        width: 340px !important;
    }

    .feedback-accordion-btn {
        margin: auto !important;
        width: 280px !important;
    }

    .btn-container {
        display: flex !important;
    }

    .key-more-info {
        flex: 0 0 auto;
        width: auto;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-right: 0px !important;
        font-size: 14px;
    }
}

/*Ipad air portarit*/
@media only screen and (height: 1180px) and (width: 820px) and (orientation: portrait) {

    .feedback-accordion-btn {
        margin: auto !important;
        width: 280px !important;
    }

    .btn-container {
        display: flex !important;
    }

    div#lblPostcode {
        margin-top: 10px !important;
    }

    .postcode-container-right {
        padding-top: 26px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 414px) {
    html[lang="cy"] .mobile-checker-container .accordion-button,
    html[lang="cy"] .postcode-container-right .form-select {
        font-size: 12px !important;
        line-height: 12px !important;
    }

    html[lang="cy"] .faq-container .accordion-button {
        font-size: 16px !important;
        font-weight: 700 !important;
    }

    html[lang="en"] .faq-container .accordion-button {
        font-size: 16px !important;
        font-weight: 700 !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
    .accordion-provider-btn {
        width: 290px !important;
    }
}